/maps-cmu
/Open_Frameworks
**/node_modules

/twitter_bot/config.js
twitter_bot/imageDir/

/Handwriting_Messenger/Handwriting_Messenger/config.py

**/World_Cup_Visualization/data/tweets.csv
**/World_Cup_Visualization/logs/
/World_Cup_Visualization/config.py
/World_Cup_Visualization/nohup.out

/Building_Visualization/data

/Image_Classifier_App/media*
/Image_Classifier_App/test_data/*
/Image_Classifier_App/classifiers/featured_classifiers/*

.DS_Store
**.pyc
