<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Image Classifier App</title>
    
    {% load staticfiles %}
    <!-- JQuery -->
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Custom styles -->
	<link rel="stylesheet" href="{% static "css/index.css" %}">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Image Classifier App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container"
        <br><br><br><br>
        <h2>Create a Classifier</h2>
        <br>
        <form action="/addClassifier/" method="post">
            {% csrf_token %}
            <div class="left-group">
                <div class="form-group">
                    <label for="class1">Class 1</label>
                    <input type="text" class="form-control" id="class1" placeholder="Class 1">
                </div>
                <br><br><br><br>
                <div class="form-group">
                    <label for="class2">Class 2</label>
                    <input type="text" class="form-control" id="class2" placeholder="Class 2">
                </div>
                <br><br><br><br>
                <div class="form-group">
                    <label for="algorithm">Algorithm</label>
                    <input type="text" class="form-control" id="algorithm" placeholder="Algorithm">
                </div>
                <br><br><br><br>
                <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea class="form-control" rows="3" id="description" placeholder="Description"></textarea>
                </div>
                <br><br><br><br><br><br>
                <button class="btn btn-primary" onclick="nextButtonClicked();">Next</button>
            </div>
            <div class="middle-group">
                <div class="form-inline">
                    <label for="search-input">Instagram Search Query</label>
                    <br>
                    <input type="text" class="form-control" id="search-input" placeholder="Query">
                    <div class="btn btn-primary btn-sm" onclick="instagramSearch();">Search</div>
                </div>
            </div>
        </form>
    </div>
  </body>
</html>

<script>
//     $('.form-inline').style.visibility = 'hidden';

//     function nextButtonClicked() {
//         $('.form-inline').style.visibility = 'auto';
//     }

    function instagramSearch() {
        query = document.getElementById('search-input').value;
        url = 'https://api.instagram.com/v1/tags/' + query + '/media/recent?access_token=' + "{{ access_token }}"
        $.post(url, function(data, status){
            console.log(data);
        });
    }
</script>
