.thumbnail {
	text-align: center;
	min-height: 180px;
}

.lead {
    margin-bottom: 0px;
}

nav {
	height: 50px;
}

.navbar {
	border-radius: 0px;
}

.resultImage {
	width: 200px;
	height: 200px;
	margin-bottom: 5px;
}

#addClassifierBtn {
	display: block;
	margin-left: 10px;
	width: 130px;
}

.form-group {
	width: 400px;
	margin-right: 100px;
}

textarea {
	resize: none;
}

#search-input {
	width: 340px;
}

.form-inline {
	width: 500px;
	margin-right: 100px;
}

.thumbnail_image {
	height: 160px !important;
}

#classification-button-group {
	position: absolute;
	top: 340px;
	margin-left: 160px;
}

.classification-button {
	margin-right: 20px;
}

#search-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	max-height: 300px;
	padding-top: 20px;
}

#imageViewer {
	position: relative;
	padding: 0;
	width: 600px;
	height: 400px;
	display: none;
}

#my-classifier {
	height: 227px;
}

